.addNewList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}
.form-control {
  width: 500px;
}
.addListBTN {
  background: #e7dde1;
  border: #d391fa;
  color: black;
  font-weight: 400;
}
.container {
  justify-content: center;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: 400px;
  grid-template-rows: 450px;
  gap: 5px;

  background-color: #7b86db;
  padding: 5px;
}

.list {
  flex: 0 0 27rem;
  display: flex;
  height: auto;
  flex-direction: column;

  border-radius: 0.3rem;
  margin-right: 1rem;
}
.header {
  background-color: white;
  border-radius: 5%;
}
.table-head {
  margin-left: 0px;
  display: flex;
  justify-content: space-between;
}

.title {
  justify-content: space-between;
  margin: 15px;
  margin-left: 0%;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.3;
  padding: 0.65rem 0.6rem;
  color: black;
  word-wrap: break-word;
}

.deleteListBTN {
  margin: 15px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: 700;
}
