<div class="addNewList">
  <input
    type="text"
    id="newList"
    [(ngModel)]="newListName"
    placeholder="Enter a new list name"
  />
  <button class="" (click)="addList()">Add new List</button>
</div>
<div class="conatiner" cdkDropListGroup>
  <div class="grid-container" *ngFor="let list of lists; let i = index">
    <div
      class="list"
      id="{{ i }}"
      cdkDropList
      [cdkDropListData]="lists[i].cards"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="header">
        <table class="table">
          <th class="table-head">
            <div class="title">{{ list.listName }}</div>
            <button
              type="button"
              class="deleteListBTN"
              (click)="deleteList(list._id)"
            >
              X
            </button>
          </th>
          <card [CurrentList]="list"></card>
        </table>
      </div>
    </div>
  </div>
</div>
