<tr *ngFor="let item of CurrentList.cards" class="Card-row table-row" cdkDrag>
  <td class="card border rounded">
    <div
      [ngClass]="
        isEditing.get(CurrentList._id.toString())?.get(item.toString())
          ? 'card-body-when-editing'
          : 'card-body'
      "
    >
      <div
        *ngIf="!isEditing.get(CurrentList._id.toString())?.get(item.toString())"
      >
        {{ item }}
      </div>

      <div
        class="button-group ml-auto"
        *ngIf="!isEditing.get(CurrentList._id.toString())?.get(item.toString())"
      >
        <button
          type="button"
          class="cardBTN btn"
          (click)="deleteCard(CurrentList._id, item)"
        >
          X
        </button>
        <button
          type="button"
          class="cardBTN btn"
          (click)="toggleEditing(CurrentList._id.toString(), item)"
        >
          U
        </button>
      </div>
      <div
        class="update-container"
        *ngIf="isEditing.get(CurrentList._id.toString())?.get(item.toString())"
      >
        <div>
          <input
            [(ngModel)]="newCardName"
            class="form-control mb-2"
            placeholder="{{ item }}"
          />
        </div>
        <div class="update-btn">
          <button
            (click)="updateCard(CurrentList._id, item, newCardName)"
            class="addBTN btn btn-success mr-2"
          >
            Update Card
          </button>
          <button
            (click)="toggleEditing(CurrentList._id.toString(), item)"
            class="btn btn-secondary cancelBTN"
          >
            Cancel
          </button>
        </div>
      </div>
    </div>
  </td>
</tr>
<tr class="addCardRow">
  <td>
    <input
      [(ngModel)]="newCard"
      class="form-control"
      placeholder="Enter a new card"
    />
  </td>
  <td>
    <button
      class="addBTN btn btn-primary"
      (click)="addCardsToList(CurrentList._id)"
    >
      Add Card to List
    </button>
  </td>
</tr>
