<div class="head"></div>
<div class="body">
  <div class="text-center">
    <h2>Example Board</h2>
    <div>
      <input type="text" id="newList" />
      <button class="addList" (click)="addList()">Add new List</button>
    </div>
  </div>
  <div class="conatiner">
    <div class="grid-container" *ngFor="let list of lists">
      <div class="list">
        <div class="header">
          <table class="table">
            <th class="table-head">
              <div class="title">{{ list.listName }}</div>
              <button
                type="button"
                class="deleteListBTN"
                (click)="deleteList(list._id)"
              >
                X
              </button>
            </th>
            <tr class="Card-row" *ngFor="let item of list.cards" cdkDrag>
              <div class="card">
                <div class="cardItem">
                  {{ item }}
                </div>

                <div class="cardButtons">
                  <button
                    type="button"
                    class="deleteBTN"
                    (click)="deleteCard(list._id, item)"
                  >
                    X
                  </button>
                  <button
                    type="button"
                    class="updateBTN"
                    (click)="toggleEditing(list._id.toString(), item)"
                  >
                    U
                  </button>
                </div>

                <div
                  *ngIf="
                    isEditing.get(list._id.toString())?.get(item.toString())
                  "
                >
                  <input
                    [(ngModel)]="newCardName"
                    placeholder="New Card Name"
                  />
                  <button (click)="updateCard(list._id, item, newCardName)">
                    Update Card
                  </button>
                  <button (click)="toggleEditing(list._id.toString(), item)">
                    Cancel
                  </button>
                </div>
              </div>
            </tr>
            <tr class="addCardRow">
              <input [(ngModel)]="newCard" placeholder="Enter a new card" />
              <button class="addCard" (click)="addCardsToList(list._id)">
                add card to list
              </button>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
